.stat-card {
    flex: 1;
    min-width: 220px;

    background-color: var(--card-color);

    padding: 1.5rem;

    border-radius: var(--radius);

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

    transition: all 0.3s ease;
}

.stat-card:hover {
    transform: translateY(-5px);
}

.stat-card h3 {
    color: var(--text-secondary);

    font-size: 1rem;
    font-weight: 500;

    margin-bottom: 1rem;
}

.stat-card h1 {
    color: var(--text-color);

    font-size: 2.2rem;
    font-weight: 700;
}